* {
    box-sizing: border-box;
}

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.wrapper {
    position: absolute;
    width: calc(100% - 60px);
    max-width: 800px;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    overflow: scroll;
}
.create-form {
    border-radius: 10px;
}
.title {
    text-align: center;
    color: #bcbdc0;
    font-size: 20px;
}
.button {
    width: 140px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}