<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new chat</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/createChat.css" rel="stylesheet">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</head>

<body>
<div class="wrapper">
    <form id="create-form" th:object="${chatDto}">
        <div class="row">
            <label for="nickname-input">User nickname:</label>
            <input id="nickname-input" name="nickname" type="text"/>
            <button id="search" th:text="Search"></button>
        </div>

        <div id="users">

        </div>
    </form>
    <script th:src="@{/createChat.js}" type="text/javascript"></script>
</div>
</body>

</html>