<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Chats</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link href="/main.css" rel="stylesheet">
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</head>
<body>
<h1 class="title">Chats:</h1>
<div class="chats">
    <table>
        <thead>
        <tr class="table">
            <th>User name</th>
            <th>Last message</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br>
    <div class="bottom_wrapper clearfix">
        <button>
            <a th:href="@{/create}">Create new chat</a>
        </button>
    </div>
</div>
<script th:src="@{/main.js}" type="text/javascript"></script>
<script th:src="@{/urlParam.js}" type="text/javascript"></script>
</body>
</html>
